* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(68, 68, 68);
  padding: 50px 100px;
  font-size: smaller;
}

@keyframes rgb-colors {
  0% {
    box-shadow: 1px 1px 10px 1px rgb(172, 255, 49);
  }
  10% {
    box-shadow: 1px 1px 10px 1px rgb(255, 241, 49);
  }
  20% {
    box-shadow: 1px 1px 10px 1px rgb(255, 162, 49);
  }
  30% {
    box-shadow: 1px 1px 10px 1px rgb(255, 49, 49);
  }
  40% {
    box-shadow: 1px 1px 10px 1px rgb(255, 49, 162);
  }
  50% {
    box-shadow: 1px 1px 10px 1px rgb(152, 49, 255);
  }
  60% {
    box-shadow: 1px 1px 10px 1px rgb(49, 59, 255);
  }
  70% {
    box-shadow: 1px 1px 10px 1px rgb(49, 252, 255);
  }
  80% {
    box-shadow: 1px 1px 10px 1px rgb(49, 255, 111);
  }
  90% {
    box-shadow: 1px 1px 10px 1px rgb(16, 173, 37);
  }
  100% {
    box-shadow: 1px 1px 10px 1px rgb(153, 255, 0);
  }
}

.keyboard {
  height: 500px;
  padding: 20px 30px 20px 40px;
  border: 3px double rgba(0, 0, 0, .5);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, .5);
}

.key-wrapper {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: linear-gradient(233deg, #424242, #2c2c2c);
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, .5);
  border: .8px inset rgba(0, 0, 0, .8);
  border-radius: 5px;
  margin: 2px;
}

.logo {
  margin: -10px auto 15px;
  border: 1px solid #232323;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.logo:hover {
  transform: rotate(360deg);
  box-shadow: 0 0 5px 2px black;
  scale: 1.07;
  cursor: pointer;
}

.logo:active {
  scale: 1;
  box-shadow: none;
}

p {
  color: rgb(224, 220, 220);
  text-transform: uppercase;
}

.top-row {
  height: 30px;
  width: 54px;
}

.top-row > .key {
  font-size: 15px;
}

.escape > .key {
  font-size: 12px;
}

.prt-scr {
  width: 51px;
}

.back-tick {
  width: 53px;
}

.delete {
  width: 60px;
}

.backspace {
  width: 110px;
}

.media-key {
  width: 60px;
}

.tab {
  width: 90px;
}

.bslash {
  width: 73px;
}

.long-key {
  height: 128px;
  position: absolute;
  margin-left: 7px;
}

.caps {
  width: 120px;
}

.index-fng .key {
  position: absolute;
}

.index{
  height: 100px;
}

.enter {
  width: 112px;
}

.shift-key {
  width: 150px;
}

.ctrl-key {
  width: 80px;
}

.space-key {
  width: 28%;
}

.arrow-up {
  height: 28px;
  position: absolute;
}

.arrow-down {
  height: 28px;
}

.zero-key {
  width: 126px;
}

.key {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
  color: rgb(128, 128, 128);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
  transition: all .2s ease;
  animation: rgb-colors ease 5s alternate infinite;
}

.key-wrapper:active .key {
  top: 0;
  left: 0;
  box-shadow: none;
}

img {
  height: 20px;
  margin: 5px 0 0 3px;
  opacity: .3;
}

footer {
  color: white;
  margin-top: 30px;
}